@media (min-width: 769px) { 
	#MenuIcon {
		display: none;
	}
}
@media (max-width: 768px) { 
	#MenuIcon {
		display: block;
	}
}

.bg-p5 {
	background-color: #ED225D;
}

.color-p5 {
	color: #ED225D;
}